<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #060707;
  background-color: #c2e0f8;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  border: 1px solid #060707;
  background-color: #c2e0f8;
}
</style>
</head>
<body>

<h1>HTML Table</h1>

<table>
 
  <tr>
    <td><app-button></app-button></td>
    <td><app-button></app-button></td>
    <td><app-button></app-button></td>
  </tr>
  <tr>
    <td><app-button></app-button></td>
    <td><app-button></app-button></td>
    <td><app-button></app-button></td>
  </tr>
    
</table>

</body>
</html>
